html {
    height: 100%;
  }
  
  body {
    font-family: monospace;
    margin: 0;
  }
  
  .bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
  }
  
  .bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
  }
  
  .bg3 {
    animation-duration: 5s;
  }
  
  .content {
    
    border-radius: 0.25em;
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  h1 {
    font-family: monospace;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(-25%);
    }
    100% {
      transform: translateX(25%);
    }
  }
header{
display: flex;
justify-content: space-between;
margin: 3rem;
}
header>img{
height: 4rem;
}
li{
    list-style: none;  
}
ul{
    display: flex;
    justify-content: space-between;
}
nav{
    position: relative;
    top: 0.5rem;
    width: 22rem;

}
a{
    font-family: monospace;
    text-decoration: none;
    color: red;
    font-size: larger;
}
a:hover{
    color: green;
}

.intro>h1{
    margin: 1rem;
    text-align: center;
    border-top-style: solid;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-color: rgb(224, 108, 65);
    border-width: 5px;
    padding: 7rem;
    background-image: url(./pics/hellobg.jpg);
    border-bottom: 5px solid rgb(82, 241, 8);
}
.about>img{
    width: 8rem;
}
.about{
    border-top: solid 2px;
    border-top-left-radius: 2rem;
    border-top-right-radius: 3rem;
   padding-top: 1.5rem;
    display: flex;
    justify-content: space-around;
    margin: 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.74);
}
.about>div>h1{
    font-family: monospace;
color: rgb(61, 73, 139);
}
span{
    color: red;
}
.aducations>h1{
    margin: 3rem;
    border-bottom: solid green 2px;

}
.aducations>div{
    display: flex;
    border-bottom: rgb(116, 82, 82) solid 2px;
    margin: 3rem;
    color: green;
    padding: 1rem;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;


}
.aducations>div>img{
    padding-left: 5rem;
    padding-right: 5rem;
    width: 3rem;
}
.skills>h1{
    margin: 3rem;
    border-bottom: solid green 2px;
}
.sk{
    margin: 3rem;
}
.sk>div{
    display: flex;
    justify-content:space-around;
    padding: 2rem;
    border-bottom: 1px solid #000;
}
progress {
    border: none;
    width: 400px;
    height: 10px;
    background: crimson;
  }
  
  progress {
    color: lightblue;
  }
  
  progress::-moz-progress-bar {
    background: lightcolor;
  }
  
  progress::-webkit-progress-value {
    background: red;
  }
  
  progress::-webkit-progress-bar {
    background: blue;
  }
  article{
      margin: 3rem;
      padding: rem;
      display: flex;
      justify-content: space-around;
      border-bottom: 2px solid #000;
     
  }
  article>div img{
      width:3rem;
  }
  .cont{
    margin: 3rem;
    border-bottom: #000 solid 1px;
  }
  footer{
    background-color: black;
    color: beige;
    justify-content: center;
    font-size: 1.5rem;
    height: 4rem;
    display: flex;

    align-items: center;
}